<top-menu></top-menu>
<cvs-index></cvs-index>
<cvs-query></cvs-query>
<cvs-messages></cvs-messages>
<cs-index></cs-index>
<cs-query></cs-query>
<customer-index></customer-index>
<customer-query></customer-query>
<assistant-query></assistant-query>
<customer-chat></customer-chat>
<assistant-mass></assistant-mass>
<assistant-operation></assistant-operation>
<admin-list></admin-list>

<script src="../../tag/top-menu.html" type="riot/tag"></script>
<script src="../../tag/cvs-index.html" type="riot/tag"></script>
<script src="../../tag/top-menu.html" type="riot/tag"></script>
<script src="../../tag/cvs-query.html" type="riot/tag"></script>
<script src="../../tag/cvs-messages.html" type="riot/tag"></script>
<script src="../../tag/cvs-item.html" type="riot/tag"></script>
<script src="../../tag/cs-index.html" type="riot/tag"></script>
<script src="../../tag/cs-query.html" type="riot/tag"></script>
<script src="../../tag/cs-item.html" type="riot/tag"></script>
<script src="../../tag/customer-index.html" type="riot/tag"></script>
<script src="../../tag/customer-query.html" type="riot/tag"></script>
<script src="../../tag/customer-item.html" type="riot/tag"></script>
<script src="../../tag/assistant-query.html" type="riot/tag"></script>
<script src="../../tag/assistant-item.html" type="riot/tag"></script>
<script src="../../tag/customer-chat.html" type="riot/tag"></script>
<script src="../../tag/assistant-mass.html" type="riot/tag"></script>
<script src="../../tag/assistant-operation.html" type="riot/tag"></script>
<script src="../../tag/admin-list.html" type="riot/tag"></script>
<script src="../../tag/admin-item.html" type="riot/tag"></script>








